.header {
  --tab-width: 5rem;
  --tab-height: 2rem;
  --tab-padding: 0.4rem;
  position: fixed;
  top: 1rem;
  left: 0px;
  right: 0px;
  width: 100vw;
  z-index: 10;
}

.header_fill {
  height: 200px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: unset;
  display: flex;
  position: relative;
  padding: 0.4rem 0.4rem;
  border-radius: 99px;
  transition: 0.25s ease-out;
  * {
    z-index: 2;
  }
}

.tabs_opaque {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--tab-height);
  width: var(--tab-width);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  padding: 0px var(--tab-padding);
  cursor: pointer;
  transition: color 0.15s ease-in;
  z-index: 2;
  position: relative;
  color: var(--qwik-light-text);
}

.glider {
  position: absolute;
  display: flex;
  height: var(--tab-height);
  width: var(--tab-width);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: var(--qwik-light-text);
    }
  }
}

input[id="radio-"] {
  &:checked {
    & ~ .glider {
      --multiply-to: 0;
      transform: translateX(
        calc(
          calc(100% * var(--multiply-to)) +
            calc(calc(calc(var(--multiply-to) * 2) + 1) * var(--tab-padding))
        )
      );
    }
  }
}

input[id="radio-about"] {
  &:checked {
    & ~ .glider {
      --multiply-to: 1;
      transform: translateX(
        calc(
          calc(100% * var(--multiply-to)) +
            calc(calc(calc(var(--multiply-to) * 2) + 1) * var(--tab-padding))
        )
      );
    }
  }
}

input[id="radio-notes"] {
  &:checked {
    & ~ .glider {
      --multiply-to: 2;
      transform: translateX(
        calc(
          calc(100% * var(--multiply-to)) +
            calc(calc(calc(var(--multiply-to) * 2) + 1) * var(--tab-padding))
        )
      );
    }
  }
}

input[id="radio-mentorship"] {
  &:checked {
    & ~ .glider {
      --multiply-to: 3;
      transform: translateX(
        calc(
          calc(100% * var(--multiply-to)) +
            calc(calc(calc(var(--multiply-to) * 2) + 1) * var(--tab-padding))
        )
      );
    }
  }
}

input[type="radio"] {
  display: none;
}

/* @media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
} */
